body {
    font-family: Comic Sans MS, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

img {
    max-width: auto;
    max-height: 75vh;
    object-fit: contain;
    border-color: black;
    box-shadow: 0 4px 12px black;
    border-radius: 10px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 80vh;
    
}

#next-button {
    color: black;
    padding: 15px;
    font-size: 100px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
}


#prev-button {
    color: black;
    padding: 15px;
    font-size: 100px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

.menu button:hover {
    background-color: white;
    color: black;
}

.page-info {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}


#comic-name {
    font-size: 12px; 
    font-weight: bold; 
    color:black; 
    margin-bottom: 20px; 
    font-family: 'Comic Sans MS', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

#main-menu {
    position: fixed; /* Przywiązanie do okna przeglądarki */
    bottom: 20px; /* Odległość od dolnej krawędzi */
    right: 20px; /* Odległość od prawej krawędzi */
    background-color: black; 
    color: white; 
    padding: 10px 20px; /* Wewnętrzne odstępy */
    font-size: 18px; 
    font-family: 'Comic Sans MS', sans-serif; 
    text-transform: uppercase; 
    border: none; 
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Cień dla lepszego wyglądu */
    z-index: 1000; /* Zapewnia widoczność */
    text-align: center; /* Środkowanie tekstu w przycisku */
}


#logo {
    max-width: 300px; 
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none; /* Usuwa ramkę */
    outline: none; /* Usuwa zewnętrzne obramowanie (np. linków) */
    box-shadow: none; /* Usuwa ewentualne cienie przypominające ramki */
}
